######### Eclipse #########
.classpath
.settings
.project
.metadata
bin/
target/
#--------- Eclipse end ---------#

######### Intellij #########
.idea/
*.iml
#--------- Intellij end ---------#

CMSSpreadsheets/
